<a href="https://colab.research.google.com/github/canfielder/DSBA-6190_Proj4_Serverless-Pipeline/blob/master/notebooks/Lambda_Output_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import

## Install

In [0]:
!pip -q install boto3
!pip -q install stringcase

## Packages

In [0]:
# General
import os
import io
import pandas as pd
import stringcase
from IPython.display import display, HTML

# AWS Connection
from google.colab import drive
import boto3

# Set Up AWS Connection

## Mount Google Drive

In [3]:
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [0]:
path = "/content/gdrive/My Drive/aws/credentials/"

aws_dir = os.listdir(path)

aws_credentials = aws_dir.pop(0)

Establish the source location of the AWS credential file.

In [5]:
aws_credentials_src = os.path.join(path, aws_credentials)
aws_credentials_src = aws_credentials_src.replace(" ", "\ ")
print(aws_credentials_src)

/content/gdrive/My\ Drive/aws/credentials/credentials

Establish the destination of where to copy the AWS credential file.

In [6]:
aws_credentials_dst = "~/.aws/credentials"
print(aws_credentials_dst)

~/.aws/credentials

Copy the credentials from the my mounted Google Drive to the local folder.

In [0]:
#!/usr/bin/env python3
mkdir -p ~/.aws &&\
  cp -r {aws_credentials_src} {aws_credentials_dst}

Verify the credentials were correctly copied.

In [8]:
#!/usr/bin/env python3
ls -R {aws_credentials_dst}

/root/.aws/credentials

# Establish Boto3 Session

By establishing a Boto3 session with Region, all downstream uses of Boto3 will import these associated values. We do not have to define the region multiple times.

In [0]:
profile = 'dsba_6190_proj_4'
region = 'us-east-1'

session = boto3.Session(profile_name=profile, region_name=region)

# Processing

## Generate List of All Files

In [0]:
s3 = session.client(service_name="s3")
bucket = "dsba-6190-project4-serverless-data-engineering-pipeline"

The following code chunk comes from this blog post, accessed on 3/16/2020:

[https://alexwlchan.net/2017/07/listing-s3-keys/](https://alexwlchan.net/2017/07/listing-s3-keys/)


The code generates a list of all files in a bucket. It is not recursive. An issue with S3 buckets is

In [0]:
def get_all_s3_keys(bucket):
    """Get a list of all keys in an S3 bucket."""
    keys = []

    kwargs = {'Bucket': bucket}
    while True:
        resp = s3.list_objects_v2(**kwargs)
        for obj in resp['Contents']:
            keys.append(obj['Key'])

        try:
            kwargs['ContinuationToken'] = resp['NextContinuationToken']
        except KeyError:
            break

    return keys

In [12]:
lambda_output = get_all_s3_keys(bucket)
lambda_output

['entity_barkley_marathons.csv',
 'entity_hardrock_hundred_mile_endurance_run.csv',
 'entity_leadville_trail_100.csv',
 'entity_ultra-trail_du_mont-blanc.csv',
 'entity_vermont_100_mile_endurance_run.csv',
 'entity_western_states_endurance_run.csv']

## Import CSV Files
The following function returns a distionary of race names and dataframes, read from the associated race CSV files.

In [0]:
def import_csv(s3_bucket):
  # Generate List of Files
  s3_key_list = get_all_s3_keys(s3_bucket)

  # Import Files, Appending Each into a list of dictionaries
  df_dict = {}
  for item in s3_key_list:
    kwargs = {
      'Bucket': bucket,
      'Key': item
    }
    item_clipped = item.replace("entity_","").replace(".csv","")
    obj = s3.get_object(**kwargs)
    df_buffer = pd.read_csv(io.BytesIO(obj['Body'].read()))
    df_dict.update(
        {item_clipped:df_buffer}
    )
  
  return df_dict

In [0]:
df_dict = import_csv(bucket)

# Print Output
With the data for each race imported, we print the dataframes for each race. I will use some of these images in the README for the github repo.

In [15]:
for race in df_dict:
  race_print = race.replace("_"," ")
  race_print = stringcase.titlecase(race_print)
  print(race_print)
  df = df_dict[race]
  display(HTML(df.to_html()))
  print("")
  print("")

Barkley Marathons

Hardrock Hundred Mile Endurance Run

Leadville Trail 100

Ultra Trail Du Mont Blanc

Vermont 100 Mile Endurance Run

Western States Endurance Run